<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="../static/menu.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <script>
        
    </script>
    <body>
        <div class="menu">
            <ul>
                <li><a class="{{activation1}}" href=".">스위치 제어</a></li>
                <li><a class="{{activation2}}" href="time">시간 설정</a></li>
                <li><a class="{{activation3}}" href="stat">통계</a></li>
            </ul>   
        </div>
        <div class="pannel">
            <div id="stat">
                <p> 현재 업타임: {{uptime}} </p>
            </div>
        </div>
    </body>
    

</html>